{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Equipos</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-equipo" class="table table-striped tableclick table-hover table-bordered" cellSpacing=0 width="100%">
        <thead>
          <tr>
            <th data-width="15%" data-priority=1>Número de Serie</th>
            <th data-width="20%" data-priority=2>Rubro</th>
            <th data-priority=1>Descripción</th>
          </tr>
        </thead>
        
        <tbody>
        {% if object_list %}
          {% for equipo in object_list %}
          <tr data-tableclick="{% url 'orden:equipo_ver' equipo.id %}">
            <td class="celda_control">{{ equipo.nro_serie }}</td>
            <td>{{ equipo.rubro }}</td>
            <td>{{ equipo.descripcion }}</td>
          </tr>          
          {% endfor %}
        {% else %}
          <h1>No hay equipos registrados</h1>

        {% endif %} 
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

  
  <script src="{% static '/js/equipo/equipo.js' %}"></script>
{% endblock scripts %}