#rectangle{
    width:30px;
    height:15px;
    border-width: 2px;
    border-style: solid;
    background:blue;
    display: inline-block;
}

.chart-container{
    height: 20em; 
    width: 100%;
}

#descripcion-reporte{
    padding: 1em 0 0 1em;
    font-size: 1.4em
}
