{% extends "lela/base_site.html" %}

{% block title %} Cliente Detail {% endblock title %}

{% block content %}
<div class="right_col">
    <div class="clearfix"></div>
        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>Tipo de Servicio <small>gestión de servicios a ofrecer</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="am-cliente" data-parsley-validate class="form-horizontal form-label-left">
                
                <!-- Comienzo del formulario - csrf_token para aceptar data POST en django -->
                {% csrf_token %}

                <!-- Campo de texto Nombre -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="first-name" name="first-name" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!--  Campo texto Descripción -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Descripción <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="3"></textarea>
                  </div>
                </div>

                
                <div class="ln_solid"></div>
                
                <!-- (^) separador - grupo de botones (v) -->
                
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
  		            <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" formmethod="POST" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}