{% extends "principal.html" %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">

      <h2>Rubro</h2>
      
      <!-- <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul> -->
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br />
      <!-- MOSTRAR LOS ERRORES DEL SERVIDOR -->
      {% if form.errors %}
      <div class="clearfix">
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                  <strong>{{ field.label }}: </strong> {{ error|escape }}
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
      </div>
      {% endif %}

      <form id="am-rubro" method="POST" class="form-horizontal form-label-left" novalidate>
        <!-- Comienzo del formulario - csrf_token para aceptar data POST en django -->
        {% csrf_token %}

        <!-- Campo de texto Nombre -->
        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombre.label }}">{{ form.nombre.label }}<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.nombre }}
          </div>
        </div>

        <!--  Campo texto Descripción -->
        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.descripcion.label }}">{{ form.descripcion.label }}<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.descripcion }}
          </div>
        </div>

        <div class="ln_solid"></div>

        <!-- (^) separador - grupo de botones (v) -->

        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary" type="button">Cancelar</button>
            <button class="btn btn-primary" type="reset">Reiniciar</button>
            <button type="submit" formmethod="POST" class="btn btn-success">Aceptar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
{% endblock scripts %}