{% extends "principal.html" %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      {% if form.instance.id %}
      {% if perms.servicio.change_tiposervicio %}
      <h2>Editar tipo de servicio</h2>
      {% else %}
      <h2>Detalles de tipo de servicio</h2>
      {% endif %}
      {% else %}
      <h2>Crear tipo de servicio</h2>
      {% endif %}
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      {% if perms.servicio.add_tiposervicio or perms.servicio.change_tiposervicio %}
      <form id="am-servicio" method="POST" novalidate class="form-horizontal form-label-left">
        {% csrf_token %}

        {% if form.errors %}
        <div class="clearfix"></div>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}

        <!-- Campo de texto Nombre -->
        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombre.label }}">{{ form.nombre.label }}<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.nombre }}
          </div>
        </div>

        <!--  Campo texto Descripción -->
        <div class="item form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.descripcion.label }}">{{ form.descripcion.label }}<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form.descripcion }}
          </div>
        </div>
        
        <div class="ln_solid"></div>
        
        <!-- (^) separador - grupo de botones (v) -->
        
        <div class="item form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary" type="reset">Reiniciar</button>
            <button type="submit" class="btn btn-success">Aceptar</button>
          </div>
        </div>
      </form>
      {% else %}
      <table width="100%">
        <col width="40%">
        <col width="60%">
        <tr>
          <td><h2>Nombre: </h2></td><td>{{ form.instance.nombre }}</td>
        </tr>
        <tr>
          <td><h2>Descripción: </h2></td><td>{{ form.instance.descripcion }}</td>
        </tr>
      </table>
      {% endif %}
      <hr>
      <a class="btn btn-default pull-left" href="{% url 'servicio:servicio_listar' %}"><i class="fa fa-arrow-left fa-lg"></i>&nbsp;&nbsp;Volver al listado</a>      
      {% if perms.servicio.delete_tiposervicio and form.instance.id %}
      <a data-toggle="modal" data-target="#modal-confirmacion-delete" class="btn btn-danger pull-right"><i class="fa fa-trash fa-lg"></i>&nbsp;&nbsp;Eliminar servicio</a>
      <div id="modal-confirmacion-delete" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">×</span></button>
              <h3><span class="text-warning"><i class="fa fa-exclamation-triangle fa-lg"></i>&nbsp;&nbsp;Confirmar eliminación</span></h3>
            </div>
            <div class="modal-body">
              <p>¿Está seguro de que desea eliminar el tipo de servicio "{{ form.instance.nombre }}"?</p>
            </div>
            <div class="modal-footer">
              <form action="{% url 'servicio:servicio_eliminar' form.instance.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger" type="submit">Confirmar eliminar servicio</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}    
    </div>
  </div>
</div>
{% endblock contenido %}