{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Tipos de servicio</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-servicio" {% if perms.servicio.add_tiposervicio %}data-url_agregar="{% url 'servicio:servicio_crear' %}"{% endif %} class="table table-striped table-hover tableclick table-bordered">
        <thead>
          <tr>
            <th data-width="30%">Nombre</th>
            <th data-width="70%">Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
          {% for tipo_servicio in object_list %}
          <tr data-tableclick="{% url 'servicio:servicio_editar' tipo_servicio.id %}">
            <td>{{ tipo_servicio.nombre }}</td>
            <td>{{ tipo_servicio.descripcion }} </td>
          </tr>
          
          {% endfor %}
          {% else %}

          <h1>No hay tipos de servicio registrados</h1>

          {% endif %}  
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

  <script src="/static/servicio/js/servicio.js"></script>
{% endblock scripts %}