{% extends "principal.html" %}{% load staticfiles %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'reportes/css/reportes.css' %}">
{% endblock estilos %}
{% block contenido %}
<div class="row">
  <div class="x_panel">
    <!-- <div class="x_title">
      <h3>Flujo de trabajo</h3>
    </div> -->
    <div class="x_content" style="margin-top:1.2em">
      <!-- Ordenes de trabajo abiertas -->
      <div class="col-xs-6 col-md-3">
        <a href="{% url 'orden:orden_listar' %}">
          <div class="tile-stats">
            <div class="icon">
              <i class="fa fa-file-text-o"></i>
            </div>
            <div class="count">&nbsp;</div>
            <div>
              <h3>Todas las Ordenes</h3>
              <p>Listado completo de Ordenes de Trabajo.</p>
            </div>
          </div>
        </a>
      </div>

      <!-- Clientes -->
      {% if DBINFO.cant_clientes > 0 %}
      <div class="col-xs-6 col-md-3">
        <a href="{% url 'cliente:cliente_listar' %}">
          {% else %}
          <div class="col-xs-6 col-md-3">
            <a href="{% url 'cliente:cliente_crear' %}">
              {% endif %}
              <div class="tile-stats">
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="count">&nbsp;</div>
                {% if DBINFO.cant_clientes > 0 %}
                <h3>Clientes</h3>
                <p>Cantidad de clientes registrados.</p>
                {% else %}
                <h3 style="color: red">Clientes</h3>
                <p>
                  <strong>No hay tipos clientes registrados.</strong>
                </p>
                {% endif %}
              </div>
            </a>
          </div>

          <!-- Productos -->
          {% if DBINFO.cant_productos > 0 %}
          <div class="col-xs-6 col-md-3">
            <a href="{% url 'producto:producto_listar' %}">
              {% else %}
              <div class="col-xs-6 col-md-3">
                <a href="{% url 'producto:producto_crear' %}">
                  {% endif %}
                  <div class="tile-stats">
                    <div class="icon">
                      <i class="fa fa-hdd-o"></i>
                    </div>
                    <div class="count">&nbsp;</div>
                    {% if DBINFO.cant_productos > 0 %}
                    <h3>Productos / Insumos</h3>
                    <p>Cantidad de productos registrados.</p>
                    {% else %}
                    <h3 style="color: red">Productos / Insumos</h3>
                    <p>
                      <strong>No hay productos registrados.</strong>
                    </p>
                    {% endif %}
                  </div>
                </a>
              </div>

              <!-- Equipos -->
              {% if DBINFO.cant_equipos > 0 %}
              <div class="col-xs-6 col-md-3">
                <a href="{% url 'orden:equipo_listar' %}">
                  {% else %}
                  <div class="col-xs-6 col-md-3">
                    <a href="{% url 'orden:equipo_crear' %}">
                      {% endif %}
                      <div class="tile-stats">
                        <div class="icon">
                          <i class="fa fa-desktop"></i>
                        </div>
                        <div class="count">&nbsp;</div>
                        {% if DBINFO.cant_equipos > 0 %}
                        <h3>Equipos</h3>
                        <p>Cantidad de equipos registrados.</p>
                        {% else %}
                        <h3 style="color: red">Equipos</h3>
                        <p>
                          <strong>No hay equipos registrados.</strong>
                        </p>
                        {% endif %}
                      </div>
                    </a>
                  </div>
              </div>
          </div>

          {% if user.persona.is_gerente %}
          <!-- Acá va el gráfico de la guita -->
          <!--primer panel-->
          <div class="col-md-12">
            <div class="x_panel dashboard_graph">

              <div class="row x_title">

                <div class="col-md-1" style="float:right">
                  <ul class="nav navbar-right panel_toolbox">
                    <li>
                      <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h3>Opciones del reporte</h3>
                </div>

                <div class="col-md-3" style="background: #fff; cursor: pointer; padding: 4px 10px; border: 1px solid #ccc">
                  <input type="text" class="chart-input" name="daterangepicker" id="daterangepicker" style="border:none; background-color:#fff; width:90%" placeholder="indique las fechas">
                  <i style="float:right" class="glyphicon glyphicon-calendar fa fa-calendar"><b style="margin-left:0.5em" class="caret"></b></i>              
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <form action="" class="chart-input" data-ajax_url="{% url 'reportes:reportes' %}">
                        <div class="item form-group">
                          <div class=" ">
                            {{ form.filtros }}
                          </div>
                        </div>
                      </form>
                </div>
              </div>

              <div class="x_content">
                  <div id="msg-total" style="text-align: center;">
                      <h1>Total facturado entre
                        <span id="fecha-ini"></span> y
                        <span id="fecha-fin"></span>:
                        <strong>
                          <span id="total"></span>
                        </strong>
                      </h1>
                    </div>
                    <div id="chart-container" class="col-md-6 col-sm-6 col-xs-12 chart-container"></div>
    
                    </div>
                    <hr>{% comment %}
                    <!-- segundo panel -->
                    <!-- <div id="total-facturado" hidden class="col-md-6 col-sm-6 col-xs-12">
                      <h1>Resultados totales (poner cant OTs)</h1>
                    </div> --> {% endcomment %}

                    {% comment %}<!--tercer panel-->
                    <!-- <div hidden class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_title">
                        <h1>Indique las fechas 3</h1>
                      </div>
                    </div> -->{% endcomment %}
                    <!--cuarto panel-->
                    {% comment %}<!-- <div id="chart-container-cantidad" hidden class="col-md-6 col-sm-6 col-xs-12">
                      <h1>Cantidad de órdenes de trabajo</h1>
    
                      <div class="" style="position: relative; height: 60vh; width: 60vh">
                        <canvas id="chart-cantidad-ots" width="400" height="400"></canvas>
                      </div>
                      <div id="chart-cantidad-legend" class=""></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>
                    <button class="btn btn-warning pull-right" onclick="alert('nooo maestro te la debo me quede sin hoja4')">
                      <i class="fa fa-print"></i> Descargar PDF
                    </button> -->{% endcomment %}
              </div>
            </div>

            <!-- <div id="reporte_pre" class="x_panel" style="display: none;">

              <div class="x_content" style="display: none;">
                    </div>
            </div> -->
          </div>
          <!-- Acá termina el gráfico de la guita -->
          {% endif %} {% if user.persona.is_jefe_taller %}
          <h1>Acá va el gráfico de carga de trabajo por técnico</h1>
          {% endif %}
          <div class="x_panel">

            <div class="x_title">
              <h2>Ordenes de trabajo abiertas</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="datatable-ordenes" class="table table-striped tableclick table-hover table-bordered dt-responsive nowrap" cellSpacing=0
                width=100%>
                <thead>
                  <tr>
                    <th data-width="10%" data-priority=1>Fecha creación</th>
                    <th data-priority=1>Cliente</th>
                    <th>Descripción</th>
                    <th>Rubro</th>
                    <th>Tipo de servicio</th>
                    <th>Equipo</th>
                    <th data-width="10%" data-priority=2>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% if ordenes %} {% for orden in ordenes %}
                  <tr data-tableclick="{% url 'orden:orden_ver' orden.id %}">
                    <td class="celda_control">{{ orden.fecha_creacion }}</td>
                    <td>{{ orden.cliente.persona.apellido|upper }}, {{ orden.cliente.persona.nombre }}</td>
                    <td>{% autoescape off %}{{ orden.descripcion }}{% endautoescape %}</td>
                    <td>{{ orden.rubro.nombre }}</td>
                    <td>{{ orden.tipo_servicio.nombre }}</td>
                    <td>
                      {% if orden.equipo %} {{ orden.equipo }} {% else %} - {% endif %}
                    </td>
                    <td align="center">
                      {{ orden.condicion }}
                    </td>
                  </tr>

                  {% endfor %} {% endif %}
                </tbody>
              </table>
            </div>
          </div>
      </div>

      {% endblock contenido %} {% block scripts %}
      <!-- Datatables -->
      <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
      <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
      <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
      <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
      <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
      <script src="{% static 'vendors/canvasjs/jquery.canvasjs.min.js' %}"></script>

      <script src="{% static 'js/ordenes.js' %}"></script>
      <script src="{% static 'js/reporte-sas.js' %}" ></script>          
      <script src="{% static 'js/index.js' %}" ></script>          
      <script src="{% static 'reportes/js/daterangepicker.js' %}" ></script>          
      
      <script>
</script>
<script>
</script>
{% endblock scripts %}
