{% extends 'base_navs.html' %}
{% load staticfiles %}

{% block menu_sidebar %}
{% include "menu_sidebar/menu_v1.html" %}
{% endblock menu_sidebar %}

{% block contenido %}

<!-- <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <h1>WebSAS - Sistema de Administración de Servicios</h1>
    <hr>
    <p><i class="fa fa-info-circle fa-lg"></i>&nbsp;&nbsp;Utilice el menú lateral para acceder a la función que desee.</p>
    <div class="ln_solid"></div>

    <br>
    <img src="{% static 'images/AT-logo.jpg' %}" alt="A-T Informática" style="display: block; margin: auto;">
    <br>
    <img align="middle" src="{% static 'images/AT-titulo.gif' %}" alt="SOPORTE TOTAL EN COMPUTACIÓN" style="display: block; margin: auto;">
</div> -->

{% endblock contenido %}