<div class="menu_section">
  <h3>General</h3>
  <ul class="nav side-menu">
    {% if user.is_superuser or user.persona.is_gerente %}
    <li><a href="{% url 'usuario:grupos' %}"><i class="fa fa-cog"></i>Control de acceso</a></li>
    {% endif %}
    <li><a><i class="fa fa-bar-chart-o"></i> Órdenes de trabajo <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        {% if perms.orden.add_orden %}
        <li><a href="{% url 'orden:orden_crear' %}">Crear</a></li>
        {% endif %}
        <li><a href="{% url 'orden:orden_listar' %}">Listados</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-cubes"></i> Equipos <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
          {% if perms.orden.add_equipo %}
          <li><a href="{% url 'orden:equipo_crear' %}">Crear</a></li>
          {% endif %}
        <li><a href="{% url 'orden:equipo_listar' %}">Listados</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-desktop"></i>Productos<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        {% if perms.producto.add_producto and user.persona.is_gerente or user.persona.is_jefe_taller or user. %}
        <li><a href= "{% url 'producto:producto_crear' %}">Crear </a></li>
        {% endif %}
        <li><a href= "{% url 'producto:producto_listar' %}">Listados</a></li>
      </ul>
        
    </li>
    <li><a><i class="fa fa-home"></i>Clientes<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        {% if perms.persona.add_cliente %}
        <li><a href="{% url 'cliente:cliente_crear' %}">Crear </a></li>
        {% endif %}
        <li><a href="{% url 'cliente:cliente_listar' %}">Listados</a></li>
      </ul>
    </li>
    {% if user.persona.is_gerente or user.persona.is_jefe_taller or user.is_superuser %}
    <li><a><i class="fa fa-edit"></i>Empleados<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        {% if perms.persona.add_rol and user.persona.is_gerente or user.is_superuser %}
        <li><a href="{% url 'empleado:empleado_crear' %}">Crear</a></li>
        {% endif %}
        <li><a href="{% url 'empleado:empleado_listar' %}">Listados</a></li>
      </ul>
    </li>
    {% endif %}


    <li><a><i class="fa fa-wrench"></i>Tipos de Servicio<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        {% if perms.servicio.add_tiposervicio and user.persona.is_gerente or user.is_superuser %}
        <li><a href="{% url 'servicio:servicio_crear' %}">Crear </a></li>
        {% endif %}
        <li><a href="{% url 'servicio:servicio_listar' %}">Listados</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-clone"></i>Rubros<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        {% if perms.rubro.add_rubro or user.persona.is_gerente %}
        <li><a href="{% url 'rubro:rubro_crear'%}">Crear </a></li>
        {% endif %}
        <li><a href="{% url 'rubro:rubro_listar'%}">Listados</a></li>          
      </ul>
    </li>
    <li><a><i class="fa fa-database"></i>Reportes<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'reportes:reportes'%}">Total facturado</a></li>
        <li><a href="{% url 'reportes:productos'%}">Incidencia de productos</a></li>
        <li><a href="{% url 'reportes:tarea_mas_realizada'%}">Tarea más realizada</a></li>
        <li><a href="{% url 'reportes:tecnico_finalizador'%}">Tareas realizadas por técnico</a>
        </li>
      </ul>
    </li>

    
  </ul>
</div>
