<div class="menu_section">
  <h3>General</h3>
  <ul class="nav side-menu">
    {% if user.is_superuser %}
    <li><a href="/admin/"><i class="fa fa-cog"></i>Administración</a></li>
    {% endif %}
    <li><a><i class="fa fa-bar-chart-o"></i> Ordenes de trabajo <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'orden:orden_crear' %}">Crear</a></li>
        <li><a href="{% url 'orden:orden_listar' %}">Listar</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-cubes"></i> equipos<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'orden:equipo_crear' %}">agregar</a></li>
        <li><a href="{% url 'orden:equipo_listar' %}">listar</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-desktop"></i>Productos<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">

        <!-- Si ponemos 'producto' asi solo, funciona porque le pega a la url
        cuyo name='producto'. Lo mismo con el detail-->
        <li><a href= "{% url 'producto:producto_crear' %}">Altas </a></li>
        <li><a href= "{% url 'producto:producto_listar' %}">Listados</a></li>
      </ul>
        
    </li>
    <li><a><i class="fa fa-home"></i>Clientes<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'cliente:cliente_crear' %}">Altas </a></li>
        <li><a href="{% url 'cliente:cliente_listar' %}">Listados</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-edit"></i>Empleados<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a>Tecnicos<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'empleado:tecnico:tecnico_crear' %}">Altas</a></li>
            <li><a href="{% url 'empleado:tecnico:tecnico_listar' %}">Listados</a></li>
          </ul>
        </li>
        <li><a>Jefes<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'empleado:jefe:jefe_crear' %}">Altas</a></li>
            <li><a href="{% url 'empleado:jefe:jefe_listar' %}">Listados</a></li>
          </ul>            
        </li>
        <li><a>Gerentes<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'empleado:gerente:gerente_crear' %}">Altas</a></li>
            <li><a href="{% url 'empleado:gerente:gerente_listar' %}">Listados</a></li>
          </ul>            
        </li>

      </ul>
    </li>
    <!-- <li><a><i class="fa fa-table"></i>Tipos de tareas<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="/tTarea_detail.html">Altas </a></li>
        <li><a href="/tTareas.html">Listados</a></li>          
      </ul>
    </li> -->
    <li><a><i class="fa fa-wrench"></i>Tipos de Servicio<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'servicio:servicio_crear' %}">Altas </a></li>
        <li><a href="{% url 'servicio:servicio_listar' %}">Listados</a></li>
      </ul>
    </li>
    <li><a><i class="fa fa-clone"></i>Rubros<span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li><a href="{% url 'rubro:rubro_crear'%}">Altas </a></li>
        <li><a href="{% url 'rubro:rubro_listar'%}">Listados</a></li>          
      </ul>
    </li>
  </ul>
</div>