{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
  <h1>Indique las fechas</h1>
  <input type="text" name="daterangepicker" id="daterangepicker">
  
  {% comment %}
    <div id="daterangepicker" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
      <span>Calendario</span>
      <b class="caret"></b>
    </div> 
  {% endcomment %}

</div>

{% endblock contenido %}

{% block scripts %}
  <script src="{% static 'reportes/js/reportes.js' %}"></script>
{% endblock scripts %}