{% extends "principal.html" %}
{% load staticfiles %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'reportes/css/reportes.css' %}">
{% endblock estilos %}
{% block contenido %}
    <!--primer panel-->
    <div class="col-md-12">
        <div class="x_panel">
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="x_title">
                <h3>Opciones del reporte</h3>
            </div>
            <div class="x_content">
                <div class="form_group" style="margin-bottom: 2em">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="daterangepicker">Seleccione rango de fechas:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control inline" name="daterangepicker" id="daterangepicker">
                    </div>
                </div>
                <br>
                <form action="" data-ajax_url="{% url 'reportes:reportes' %}" data-ajax_url_cantidad="{% url 'reportes:cantidad_ordenes' %}">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.filtros.label }}">{{ form.filtros.label }}<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.filtros }}
                        </div>
                    </div>
                </form>
                <hr>
                <button id="btn-ajax" class="btn btn-success" value=""><i class="fa fa-bar-chart"></i> Generar reporte</button>
            </div>
        </div>

    <div id="chart-error" hidden class="col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-warning"><strong>Su consulta no ha genereado resultados</strong></div>
    </div>


        




    <div id="reporte_pre" class="x_panel" style="display: none;">
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
            </li>
        </ul>
        <div class="x_title">
            <h3>Visualización del reporte</h3>
        </div>
        <div class="x_content" style="display: none;">
            <div id="msg-total" style="text-align: center; padding:2em;">
                <h2 id="titulo_reporte">
                    <span style="border-bottom: 1px solid;">Total facturado entre <span id="fecha-ini"></span> y <span id="fecha-fin"></span>: 
                        <strong><span id="total"></span></strong>
                    </span>
                </h2>
            </div>

            <div id="chart-container" class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                <div id="chart-totales" class="chart-container"></div>
            </div>

            <div id="chart-container-cantidad" class="col-md-5 col-sm-6 col-xs-12">
                <div id="chart-cantidades" class="chart-container"></div>
            </div>

            <div id="descripcion-cantidades">
                <p>El gráfico comparativo muestra el <strong>monto total facturado</strong> entre las fechas seleccionadas según el criterio elegido.</p>
                <p>El gráfico de dona muestra cómo se distribuye este total entre qué <strong>cantidad</strong> de órdenes de trabajo.</p>
            </div>


            <div class="clearfix"></div>
            <div class="ln_solid"></div>
            <button class="btn btn-warning pull-right" onclick="imprimir()">
                <i class="fa fa-print"></i> Descargar PDF
            </button>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'vendors/canvasjs/jquery.canvasjs.min.js' %}"></script>
    <script src="{% static 'js/reporte-sas.js' %}"></script>
    <script src="{% static 'reportes/js/daterangepicker.js' %}"></script>
    <script src="{% static 'reportes/js/reporte_totales.js' %}"></script>
    <script src="{% static 'reportes/js/chart_totales.js' %}"></script>
    <script src="{% static 'reportes/js/rep_templates.js' %}"></script>
{% endblock scripts %}
