{% extends "principal.html" %}
{% load staticfiles %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'reportes/css/reportes.css' %}">
{% endblock estilos %}

{% block contenido %}
    <!--primer panel-->

    <div class="col-md-12">


        <div class="x_panel">
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="x_title">
                <h3>Opciones del reporte</h3>
            </div>
            <div class="x_content">
                <div class="form_group" style="margin-bottom: 2em">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="daterangepicker">Seleccione rango de fechas:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control inline" name="daterangepicker" id="daterangepicker">
                    </div>
                </div>
                <br>
                <form action="" data-ajax_url="{% url 'reportes:productos' %}" data-ajax_url_cantidad="{% url 'reportes:cantidad_productos' %}" data-ajax_url_total="{% url 'reportes:reportes' %}">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.filtros.label }}">{{ form.filtros.label }}<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.filtros }}
                        </div>
                    </div>
                </form>
                <hr>
                <button id="btn-ajax" class="btn btn-success" value=""><i class="fa fa-bar-chart"></i> Generar reporte</button>
            </div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title"><h1>Incidencia de los repuestos en la facturación</h1></div>
                <div class="x_content">
                <div id="msg-total" style="text-align: center; padding:2em;">
                    <h2 id="titulo_reporte">
                        <span style="border-bottom: 1px solid;">Total facturado entre
                            <span id="fecha-ini"></span> y
                            <span id="fecha-fin"></span>:
                            <strong>
                                <span id="total"></span>
                            </strong>
                        </span>
                    </h2>
                    <h2 id="titulo_reporte">
                        <span style="border-bottom: 1px solid;">Facturado por productos:
                            <strong>
                                <span id="total-productos"></span>
                            </strong>
                        </span>
                    </h2>
                </div>

                    <div id="chart-totales-productos" class="chart-container"></div>
        
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 id="comparacion-filtro"></h1>
                </div>
                <div class="x_content">
        
                    <div id="chart-cantidades" class="chart-container"></div>
        
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title"><h1 id="comparacion-mano-obra"></h1></div>
                <div class="x_content">
                
                    <div id="chart-porcentajes" class="chart-container"></div>
        
                </div>
            </div>
        </div>


        {% comment %} <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title"><h1>grafiquito de area</h1></div>
                <div class="x_content">
                
                    <div id="chartArea" class="chart-container"></div>
        
                </div>
            </div>
        </div> {% endcomment %}


    </div>



    <!--segundo panel-->

    <!--tercer panel-->

    <!--cuarto panel-->
{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'vendors/canvasjs/jquery.canvasjs.min.js' %}"></script>
    <script src="{% static 'reportes/js/daterangepicker.js' %}"></script>
    {% comment %} <script src="{% static 'reportes/js/chart_productos.js' %}"></script> {% endcomment %}
    <script src="{% static 'reportes/js/reporte_productos.js' %}"></script>
    <script src="{% static 'js/reporte-sas.js' %}"></script>
{% endblock scripts %}
