{% extends "principal.html" %}
{% load staticfiles %}
{% block contenido %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'reportes/css/reportes.css' %}"> 
{% endblock estilos %}

<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Productos</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-producto" {% if perms.producto.add_producto %} data-url_agregar="{% url 'producto:producto_crear' %}" {% endif %} class="table table-striped tableclick table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
        <thead>
          <tr>
            <th data-priority=1>Nombre</th>
            <th data-priority=3>Descripción</th>
            <th data-priority=4>Marca</th>
            <th data-priority=2 data-width="5%">Stock disponible</th>
            <th data-priority=2 data-width="5%">Stock reservado</th>
            <th data-priority=1>Precio</th>
          </tr>
        </thead>


        <tbody>
            {% if object_list %}
            {% for producto in object_list %}
          <tr data-tableclick="{% url 'producto:producto_editar' producto.id %}">
            <td class="celda_control">{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.stock_disponible }}</td>
            <td>{{ producto.stock_reservado }}</td>
            <td>{{ producto.precio }}</td>
          </tr>
          
          {% endfor %}
          {% else %}

          <h1>No hay productos registrados</h1>

          {% endif %} 
        </tbody>
      </table>
    </div>

    {% if user.persona.is_gerente %}
        <div class="x_panel">
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
          </ul>
          <div class="x_title">
            <h3>Opciones del reporte</h3>
          </div>
          <div class="x_content">
            <div class="form_group" style="margin-bottom: 2em">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="daterangepicker">Seleccione rango de fechas:</label>
              <div class="col-md-4">
                <input type="text" class="form-control inline" name="daterangepicker" id="daterangepicker">
              </div>
            </div>
            <br>
            <form action="" data-ajax_url="{% url 'reportes:productos' %}" data-ajax_url_cantidad="{% url 'reportes:cantidad_productos' %}"
              data-ajax_url_total="{% url 'reportes:reportes' %}">
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.filtros.label }}">{{ form.filtros.label }}
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  {{ form.filtros }}
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h1>Incidencia de los repuestos en la facturación</h1>
            </div>
            <div class="x_content">
              <div id="msg-total" style="text-align: center; padding:2em;">
                <h2 id="titulo_reporte">
                  <span style="border-bottom: 1px solid;">Total facturado entre
                    <span id="fecha-ini"></span> y
                    <span id="fecha-fin"></span>:
                    <strong>
                      <span id="total"></span>
                    </strong>
                  </span>
                </h2>
                <h2 id="titulo_reporte">
                  <span style="border-bottom: 1px solid;">Facturado por productos:
                    <strong>
                      <span id="total-productos"></span>
                    </strong>
                  </span>
                </h2>
              </div>
        
              <div id="chart-totales-productos" class="col-md-6 col-sm-6 col-xs-12 chart-container"></div>
        
            </div>
          </div>
        </div>
          {% endif %}





      </div>



  </div>
</div>
{% endblock contenido %}

{% block scripts %}
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/reporte-sas.js' %}"></script>
  <script src="{% static 'vendors/canvasjs/jquery.canvasjs.min.js' %}"></script>
  <script src="{% static 'reportes/js/daterangepicker.js' %}"></script>

  <script src="{% static 'producto/js/producto.js' %}"></script>

{% endblock scripts %}