{% extends "principal.html" %}

{% block contenido %}
<div class="clearfix"></div>
<div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="x_panel">
    <div class="x_title">
      <h2>Producto #{{ producto.id }}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table width="100%">
        <tr>
          <td><h1>{{ producto.nombre }}</h1></td>
          <td><h2>Stock mínimo: </h2>{{ producto.stock_minimo }}</td>
        </tr>
        <tr>
          <td><h2>Descripción: </h2>{{ producto.descripcion }}</td>
          <td><h2>Stock actual: </h2>{{ producto.stock }}</td>
        </tr>
        <tr>
          <td><h2>Marca: </h2>{{ producto.marca }}</td>
          <td><h2>Precio: </h2>{{ producto.precio }}</td>
        </tr>
      </table>
      {% if perms.producto.change_producto or perms.producto.delete_producto %}
      <hr>
      <div class="pull-right">
        {% if perms.producto.delete_producto %}
        <a data-toggle="modal" data-target="#modal-confirmacion-delete" class="btn btn-danger"><i class="fa fa-trash fa-lg"></i>&nbsp;&nbsp;Eliminar producto</a>
        {% endif %}

        {% if perms.producto.change_producto %}
        <a href="{% url 'producto:producto_editar' producto.id %}" class="btn btn-info"><i class="fa fa-pencil fa-lg"></i>&nbsp;&nbsp;Editar producto</a>
        {% endif %}
      </div>
      {% if perms.producto.delete_producto %}
      <div id="modal-confirmacion-delete" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">×</span></button>
              <h3><span class="text-warning"><i class="fa fa-exclamation-triangle fa-lg"></i>&nbsp;&nbsp;Confirmar eliminación</span></h3>
            </div>
            <div class="modal-body">
              <p>¿Está seguro de que desea eliminar el producto "{{ producto.nombre }}"?</p>
            </div>
            <div class="modal-footer">
              <form action="{% url 'producto:producto_eliminar' producto.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger" type="submit">Confirmar eliminar producto</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="ln_solid"></div>
  <a class="btn btn-default" href="{% url 'producto:producto_listar' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado</a>
</div>
{% endblock contenido %}