{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Productos</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-producto" {% if perms.producto.add_producto %} data-url_agregar="{% url 'producto:producto_crear' %}" {% endif %} class="table table-striped tableclick table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
        <thead>
          <tr>
            <th data-priority=1>Nombre</th>
            <th data-priority=3>Descripción</th>
            <th data-priority=4>Marca</th>
            <th data-priority=2 data-width="5%">Existencias</th>
            <th data-priority=1>Precio</th>
          </tr>
        </thead>


        <tbody>
            {% if object_list %}
            {% for producto in object_list %}
          <tr data-tableclick="{% url 'producto:producto_ver' producto.id %}">
            <td class="celda_control">{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.stock_disponible }}</td>
            <td>{{ producto.precio }}</td>
          </tr>
          
          {% endfor %}
          {% else %}

          <h1>No hay productos registrados</h1>

          {% endif %} 
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

  <script src="{% static 'producto/js/producto.js' %}"></script>
{% endblock scripts %}