{% extends "principal.html" %}

{% block contenido %}
  <div class="row" style="margin-left: 10px; margin-right: 10px;">
    <div class="x_panel">
      <div class="x_title">
        <h2>Productos</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form method="post" class="form-horizontal form-label-left" novalidate>  
          {% csrf_token %}
          {% if form.errors %}
          <div class="clearfix">
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
          </div>
          {% endif %}
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombre.label }}">{{ form.nombre.label }}
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.nombre }}
            </div>
          </div>
          <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.descripcion.label }}">{{ form.descripcion.label }}
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form.descripcion }}
              </div>
            </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.marca.label }}">{{ form.marca.label }} 
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.marca }}
            </div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.stock_minimo.label }}"> {{ form.stock_minimo.label }}
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.stock_minimo }}
            </div>
          </div>
          <div class="item form-group">
            <label for="{{ form.stock.label }}" class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.stock.label }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form.stock }}
            </div>
          </div>
          
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.precio.label }}">{{ form.precio.label }}</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form.precio }}
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              {% if producto.id %}
              <a class="btn btn-default" href="{% url 'producto:producto_ver' producto.id %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al producto</a>
              {% else %}
              <a class="btn btn-default" href="{% url 'producto:producto_listar' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado</a>
              {% endif %}
              <button class="btn btn-primary" type="reset">Reiniciar</button>
              <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
<!-- validator -->
<script src="/static/vendors/validator/validator.js"></script>
<script>
    validator.message['number_min'] = 'no puede ser negativo';
</script>
{% endblock scripts %}