<!-- Tab DATOS ORDEN -->
<div class="tab-pane" id="datosOrden">
    <p class="lead">Datos de la Orden de Trabajo</p>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="cliente">Cliente:</label>
    <h4 name="cliente"><b>{{ orden.cliente.persona.apellido|upper }}</b>, {{ orden.cliente.persona.nombre }}</h4>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="descripcion">Descripción:</label>
    
    <h4 name="descripcion">
        <em>
            {% autoescape off %} {{ orden.descripcion|safe }} {% endautoescape %}
        </em>
    </h4>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="rubro">Rubro:</label>
    <h4 name="rubro">{{ orden.rubro.nombre }}</h4>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="tipo_servicio">Servicio:</label>
    <h4 name="tipo_servicio">{{ orden.tipo_servicio.nombre }}</h4>
    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="usuario">Creador:</label>
    <h4 name="usuario">{{ orden.usuario.username }}</h4>
</div>
