<table id="datatable-tipo-tarea" class="table table-striped table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
    <thead>
    <tr>
    <th></th>
    <th>Nombre</th>
    <th>Descripcion</th>
    </tr>
    </thead>
    <tbody>
        {% for tipo_tarea in orden.tipos_tarea_agregables %} <tr>

            <td>
                &nbsp;
                <div class="radio">
                    <input style="position:relative;" data-idtipotarea="{{ tipo_tarea.id }}" type="radio" class="flat" name="tipo_tarea">
                </div>
            </td>
            <td>{{ tipo_tarea.nombre }} </td>
            <td>{{ tipo_tarea.descripcion }}</td>
        </tr>

        {% empty %}        
        
        <h1>No hay tipos de tarea para agregar</h1>    
        
        {% endfor %}
    </tbody>
</table>
<div class="clearfix"></div>
<span hidden id="id-orden-tarea">{{ orden.id }}</span>

<div class="ln_solid"></div>
<h5>Tipo de servicio de la orden: <strong>{{ orden.tipo_servicio.nombre }}</strong></h5>
<br/>
<!-- <div class="row" style="margin: 5px 5px 5px 5px;">
    <div class="col-xs-3">
        <label for="precio-tarea"><strong>Precio: </strong></label>
        <div class="item form-group">
            <input class="form-control" name="Precio" id="precio-tarea">    
        </div>
    </div>
</div> -->
<div class="row" style="margin: 5px 5px 5px 5px;">
        <div class="col-xs-12">
            <label for="observacion">Observaciones</label>
            <textarea class="form-control" name="observacion" id="observaciontarea" rows="5" style="resize:vertical;"></textarea>
        </div>
</div>