<!-- Tab TAREAS PRESUPUESTADAS -->
<div class="tab-pane" id="tareasPresupuestadas">
        <p class="lead">Tareas Presupuestadas.</p>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                <th>
                    <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">Tarea </th>
                <th class="column-title">Estado </th>
                <th class="column-title">Tarifa </th>
                <th class="column-title">Repuesto </th>
                <th class="column-title">Precio Unitario </th>
                <th class="column-title">Cantidad </th>
                <th class="column-title">Subtotal </th>

                <th class="column-title no-link last"><span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
                </tr>
            </thead>

            <tbody>
                <tr class="even pointer">
                <td class="a-center ">
                    <input type="checkbox" class="flat" name="table_records">
                </td>
                <td class=" ">121000040</td>
                <td class=" ">121000040</td>
                <td class=" ">May 23, 2014 11:47:56 PM </td>
                <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                <td class=" ">John Blank L</td>
                <td class=" ">Paid</td>
                <td class="a-right a-right ">$7.45</td>
                <td class=" last"><a href="#">View</a>
                </td>
                </tr>
                
            </tbody>
            </table>
            <button class="btn btn-success">Aceptar tareas</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalTarea">Agregar tareas</button>
            {% include "tareas/agregar_tarea.html" %}

        </div>                  
        </div>