<!-- Tab TAREAS PENDIENTES -->
<div class="tab-pane" id="tareasPendientes" ajax-url="{% url 'tarea:tarea_finalizar' %}" data-orden-id="{{ orden.id }}">
  <p class="lead">Tareas pendientes</p>
  <div class="table-responsive">
    <table class="table table-striped tableclick jambo_table bulk_action">
      <thead>
        <tr class="headings">
          <th>
            <input type="checkbox" id="check-all" class="flat">
          </th>
          <th class="column-title">Tarea</th>
          <th class="column-title">Tarifa</th>
          <th class="column-title">Costo repuestos</th>
          <th class="column-title">Subtotal</th>
          <th class="bulk-actions" colspan="7">
            <a class="antoo" style="color:#fff; font-weight:500;">Aplicar acciones a 
              <span class="action-cnt"> </span> )
              <i class="fa fa-chevron-down"></i>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        {% if orden.tareas_pendientes %}
        {% for tarea in orden.tareas_pendientes %}
        <tr data-tableclick="{% url 'tarea:tarea_ver' tarea.id %}">
          <td class="a-center celda_input">
            <input data-tarea-id="{{ tarea.id }}" type="checkbox" class="flat" name="table_records">
          </td>
          <td class=" ">{{ tarea.nombre }}</td>
          <td class=" ">{{ tarea.precio }}</td>
          <td class="a-right a-right ">{{ tarea.costo_repuestos }}</td>
          <td class=" ">{{ tarea.subtotal }}</td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
    <button class="btn btn-success" onclick="finalizarTareas()">Finalizar tareas</button>
  </div>
</div>