<!-- Tab TAREAS FINALIZADAS -->
<div class="tab-pane" id="tareasFinalizadas">
  <p class="lead">Tareas finalizadas</p>
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr class="headings">
          <th class="column-title">Tarea</th>
          <th class="column-title">Tarifa</th>
          <th class="column-title">Costo repuestos</th>
          <th class="column-title">Subtotal</th>
        </tr>
      </thead>

      <tbody>
        {% if orden.tareas_realizadas %}
        {% for tarea in orden.tareas_realizadas %}
        <tr class="even pointer">
          <td class=" ">{{ tarea.nombre }}</td>
          <td class=" ">{{ tarea.precio }}</td>
          <td class="a-right a-right ">{{ tarea.costo_repuestos }}</td>
          <td class=" ">{{ tarea.subtotal }}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% if orden.tareas_realizadas %}
      {% if not orden.tareas_pendientes %}
      <button class="btn btn-info" data-toggle="modal" data-target="#modal-cerrarorden" id="boton-cerrar" data-orden-id="{{ orden.id }}" ajax-url="{% url 'orden:orden_cerrar' %}">Cerrar Orden</button>
      {% endif %}
    {% endif %}
  </div>
</div>