<!-- Tab TAREAS FINALIZADAS -->
<div class="tab-pane" id="tareasFinalizadas">
    <p class="lead">Tareas Finalizadas.</p>
    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Tarea </th>
                <th class="column-title">Tarifa </th>
                <th class="column-title">Costo repuestos </th>
                <th class="column-title">Subtotal </th>

                </th>
                </tr>
            </thead>

            <tbody>
                {% if tareas_presupuestadas %}
                {% for tarea in tareas_presupuestadas %}
                <tr class="even pointer">
                <td class=" ">{{ tarea.nombre }}</td>
                <td class=" ">{{ tarea.precio }}</td>
                <td class="a-right a-right ">{{ tarea.costo_repuestos }}</td>
                <td class=" ">{{ tarea.subtotal }}</td>
                </tr>
                {% endfor %}
                {% endif %} 
        </tbody>
        </table>
    </div>
</div>