<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>Web SAS</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bienvenido,</span>
      <h2>{{ user.username }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        {% if user.is_superuser %}
        <li><a href="admin/"><i class="fa fa-cog"></i>Administración</a></li>
        {% endif %}
        <li><a><i class="fa fa-home"></i>Clientes<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'cliente:cliente_crear' %}">Altas </a></li>
            <li><a href="{% url 'cliente:cliente_listar' %}">Listados</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i>Empleados<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a>Tecnicos<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{% url 'empleado:tecnico:tecnico_crear' %}">Altas</a></li>
                <li><a href="{% url 'empleado:tecnico:tecnico_listar' %}">Listados</a></li>
              </ul>
            </li>
            <li><a>Jefes<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{% url 'empleado:jefe:jefe_crear' %}">Altas</a></li>
                <li><a href="{% url 'empleado:jefe:jefe_listar' %}">Listados</a></li>
              </ul>            
            </li>
            <li><a>Gerentes<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="{% url 'empleado:gerente:gerente_crear' %}">Altas</a></li>
                <li><a href="{% url 'empleado:gerente:gerente_listar' %}">Listados</a></li>
              </ul>            
            </li>

          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i>Productos<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">

            <!-- Si ponemos 'producto' asi solo, funciona porque le pega a la url
            cuyo name='producto'. Lo mismo con el detail-->
            <li><a href= "{% url 'producto:producto_crear' %}">Altas </a></li>
            <li><a href= "{% url 'producto:producto_listar' %}">Listados</a></li>
          </ul>
            
        </li>
        <!-- <li><a><i class="fa fa-table"></i>Tipos de tareas<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/tTarea_detail.html">Altas </a></li>
            <li><a href="/tTareas.html">Listados</a></li>          
          </ul>
        </li> -->
        <li><a><i class="fa fa-wrench"></i>Tipos de Servicio<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'servicio:servicio_crear' %}">Altas </a></li>
            <li><a href="{% url 'servicio:servicio_listar' %}">Listados</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart-o"></i> Ordenes de trabajo <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
          </ul>
        </li>
        <li><a><i class="fa fa-clone"></i>Rubros<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'rubro:rubro_crear'%}">Altas </a></li>
            <li><a href="{% url 'rubro:rubro_listar'%}">Listados</a></li>          
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'usuario:logout' %}">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
