{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
    <div class="x_panel">
      <div class="x_title">
        <h2>Gerentes</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="datatable-gerentes" class="table table-striped tableclick table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
          <thead>
            <tr>
              <th data-priority=1>DNI/CUIT/CUIL</th>
              <th data-priority=1>Nombre</th>
              <th data-priority=3>Domicilio</th>
              <th data-priority=3>Teléfono</th>
              <th data-priority=2>e-mail</th>
            </tr>
          </thead>

          <tbody>
            {% if object_list %}
            {% for gerente in object_list %}
            <tr data-tableclick="{% url 'empleado:gerente:gerente_ver' gerente.persona.id %}">
              <td class="celda_control">{{ gerente.persona.doc }}</td>
              <td>{{ gerente.persona.apellido|upper }}, {{ gerente.persona.nombre }}</td>
              <td>{{ gerente.persona.domicilio }}</td>
              <td>{{ gerente.persona.telefono }}</td>
              <td>{{ gerente.persona.email }}</td>
            </tr>
            {% endfor %}
            {% else %}

            <h1>No hay gerentes registrados</h1>
            <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

  <script src="{% static 'persona/js/gerente.js' %}"></script>
{% endblock scripts %}
