{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x-panel">
            <form method="post">
                    {% csrf_token%}
                    <h3>Eliminar el gerente {{ gerente.persona.nombre }}?</h3>
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                    <a class="btn btn-default" href="{% url 'empleado:gerente:gerente_listar' %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
{% endblock scripts %}