{% extends "principal.html" %}

{% block content %}
        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>Jefe de taller #{{jefe.id}} <small>gestión de jefes de taller</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <h1>{{ jefe.nombre }}</h1>
              <h1>{{ jefe.apellido }}</h1>
              <h1>{{ jefe.dni }}</h1>
              <h1>{{ jefe.email }}</h1>
                <a class="btn btn-info" href="{% url 'persona:jefe:jefe_listar' %}">Volver</a>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}