{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Técnicos</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="datatable-tecnicos" class="table table-striped tableclick table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
        <thead>
          <tr>
            <th data-priority=1 data-width="10%">DNI/CUIT/CUIL</th>
            <th data-priority=1>Nombre</th>
            <th data-priority=3>Domicilio</th>
            <th data-priority=3 data-width="10%">Teléfono</th>
            <th data-priority=2>e-mail</th>
          </tr>
        </thead>

        <tbody>
          {% if object_list %}
          {% for tecnico in object_list %}
          <tr data-tableclick="{% url 'empleado:tecnico:tecnico_ver' tecnico.persona.id %}">
            <td class="celda_control">{{ tecnico.persona.doc }}</td>
            <td>{{ tecnico.persona.apellido|upper }}, {{ tecnico.persona.nombre }}</td>
            <td>{{ tecnico.persona.domicilio }}</td>
            <td>{{ tecnico.persona.telefono }}</td>
            <td>{{ tecnico.persona.email }}</td>
          </tr>
          {% endfor %}
          {% else %}

          <h1>No hay técnicos registrados</h1>
          <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

  <script src="/static/persona/js/tecnico.js"></script>
{% endblock scripts %}
