<p>La tabla de esta pantalla presenta todas las órdenes de trabajo y sus datos.</p>
<p>Las columnas de la tabla son:</p>
<ul>
    <li>Nombre</li>
    <li>Descripción</li>
    <li>Marca</li>
    <li>Stock disponible</li>
    <li>Stock reservado</li>
    <li>Precio</li>
</ul>
<p>Dependiendo de la resolución de pantalla, algunas columnas pueden ocultarse con el fin de visualizar la información más importante. Un click en la celda del nombre mostrará el resto de la información debajo, "expandiendo" la fila.</p>
<p>Para ver los detalles de un producto, haga click en cualquier celda del mismo.</p>