<p>Esta pantalla muestra una tabla con los datos de los equipos actualmente registrados en el sistema.</p>
<p>Las columnas de la tabla son las siguientes:</p>
<ul>
    <li>Número de serie</li>
    <li>Rubro</li>
    <li>Descripción</li>
</ul>
<p>Dependiendo de la resolución de pantalla, algunas columnas pueden ocultarse con el fin de visualizar la información más importante. Un click en la celda del número de serie mostrará el resto de la información debajo, "expandiendo" la fila.</p>
<p>Para ver o editar los datos básicos de un equipo, haga click en cualquier otra celda de la fila correspondiente.</p>