<p>La tabla de esta pantalla presenta todas las órdenes de trabajo y sus datos.</p>
<p>Las columnas de la tabla son:</p>
<ul>
    <li>Fecha creación</li>
    <li>Cliente</li>
    <li>Descripción</li>
    <li>Rubro</li>
    <li>Tipo de Servicio</li>
    <li>Equipo</li>
    <li>Estado</li>
    <li>Fecha fin</li>
</ul>
<p>Dependiendo de la resolución de pantalla, algunas columnas pueden ocultarse con el fin de visualizar la información más importante. Un click en la celda de la fecha de creación mostrará el resto de la información debajo, "expandiendo" la fila.</p>
<p>Para ver los detalles de una orden de trabajo, haga click en cualquier celda de la misma.</p>
