<div class=" ">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>AT-Informática
          <small>Orden de trabajo</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Settings 1</a>
              </li>
              <li>
                <a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="close-link">
              <i class="fa fa-close"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <section class="content invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12 invoice-header">
              <h1>
                <i class="fa fa-globe"></i> Recibo
                <small class="pull-right">Fecha: {{ orden.fecha }}</small>
              </h1>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              De
              <address>
                <strong>AT Informática</strong>
                <br>Fragata Hércules 596
                <br>Puerto Madryn-Chubut 
                <br>Tel (0280) 4456800
                <br>Email: contacto@at-informatica.com.ar 
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              Para
              <address>
                <strong>{{ orden.cliente.persona }}</strong>
                <br>{{ orden.cliente.domicilio }}
                <br>Tel: {{ orden.cliente.telefono }}
                <br>Email: {{ orden.cliente.correo }}
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Orden nro {{ orden.id }}</b>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Tarea</th>
                    <th>Tarifa</th>
                    <th>Costo en repuestos</th>
                    <th style="width: 59%">Description</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tarea in orden.tareas_realizadas %}
                  <tr>
                    <td>{{ tarea.nombre }}</td>
                    <td>${{ tarea.precio }}</td>
                    <td>${{ tarea.costo_repuestos }}</td>
                    <td>{{ tarea.descripcion }}</td>
                    <td>${{ tarea.subtotal }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- /.col -->
            <div class="col-xs-3" style="float:right">
              <p class="lead">Total a pagar ${{ orden.precio_total }}.-</p>
              <!-- <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:50%">Subtotal:</th>
                      <td>{{ orden.precio_total }}</td>
                    </tr>
                    <tr>
                      <th>Tax (9.3%)</th>
                      <td>$10.34</td>
                    </tr>
                    <tr>
                      <th>Shipping:</th>
                      <td>$5.80</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>$265.24</td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-xs-12">
              <button class="btn btn-warning" onclick="window.print();">
                <i class="fa fa-print"></i> Print</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>