<div style="font-size:1.15em">
  <div class="col-md-12">


    <div class="x_panel">
      <div class="x_title">
        <h2>AT-Informática
          <small>Orden de trabajo</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li>
            <a class="close-link">
              <i class="fa fa-close"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      
      <div class="x_content">

        <section class="content invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12 invoice-header">
              <h1>
                <i class="fa fa-gift "></i> Orden de Trabajo
                <small class="pull-right">Fecha: {{ orden.fecha }}</small>
              </h1>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              De
              <address>
                <strong>AT Informática</strong>
                <br>Fragata Hércules 596
                <br>Puerto Madryn-Chubut 
                <br>Tel (0280) 4456800
                <br>Email: contacto@at-informatica.com.ar 
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              Para
              <address>
                <strong>{{ orden.cliente.persona }}</strong>
                <br>{{ orden.cliente.domicilio }}
                <br>Tel: {{ orden.cliente.telefono }}
                <br>Email: {{ orden.cliente.correo }}
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Orden nro {{ orden.id }}</b>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <p class="lead" style="margin-top:1.5em">Esta Orden de Trabajo fue realizada a modo de cortesía para el cliente <strong>{{ orden.cliente.persona }}</strong></p>
    </div>
  </div>


</div>
