    <table id="datatable-equipos"  class="table table-striped table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
        <thead>
        <tr>
        <th></th>
        <th data-width="10%">Nro Serie</th>
        <th data-width="15%">Rubro</th>
        <th data-width="75%">Descripción</th>
        </tr>
        </thead>
        <tbody>
            {% if equipos %}
            {% for equipo in equipos %}
            <tr>
                <td align="center">
                    <input data-idequipo="{{ equipo.id }}" type="radio" class="flat" name="equipo">
                </td>
                <td>{{ equipo.nro_serie }}</td>
                <td>{{ equipo.rubro }}</td>
                <td>{{ equipo.descripcion }}</td>
            </tr>
            {% endfor %}
            {% else %}

            <h1>No hay Equipos registrados</h1>
            <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

            {% endif %}  
        </tbody>
    </table>
    <div class="clearfix"></div>