    <table id="datatable-rubros" class="table table-striped table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
        <thead>
        <tr>
        <th></th>
        <th data-width="30%">Nombre</th>
        <th data-width="70%">Descripción</th>
        </tr>
        </thead>
        <tbody>
            {% if rubros %}
            {% for rubro in rubros %}
            <tr>
                <td align="center">
                    <input data-idrubro="{{ rubro.id }}" type="radio" class="flat" name="rubro">
                </td>
                <td>{{ rubro.nombre }}</td>
                <td>{{ rubro.descripcion }}</td>
            </tr>
            {% endfor %}
            {% else %}

            <h1>No hay Rubros registrados</h1>
            <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

            {% endif %}  
        </tbody>
    </table>
    <div class="clearfix"></div>