<table id="datatable-rubros" class="table table-striped table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
    <thead>
    <tr>
    <th></th>
    <th>Nombre</th>
    <th>Apellido</th>
    </tr>
    </thead>
    <tbody>
        {% if tecnicos %}
        {% for tecnico in tecnicos %}
        <tr>
            <td>
                <div class="radio">
                    <input data-idtecnico="{{ tecnico.persona.id }}" type="radio" class="flat" name="tecnico">
                </div>
            </td>
            <td>{{ tecnico.persona.nombre }} {{ tecnico.persona.apellido }}</td>
        </tr>
        {% endfor %}
        {% else %}

        <h1>No hay Técnicos registrados</h1>
        <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

        {% endif %}  
    </tbody>
</table>
<div class="clearfix"></div>