<table id="datatable-clientes" class="table table-striped table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
    <thead>
    <tr>
    <th></th>
    <th>Nombre</th>
    <th>DNI/CUIT/CUIL</th>
    <th>Domicilio</th>
    <th>Teléfono</th>
    <th>e-mail</th>
    <th>Saldo</th>
    </tr>
    </thead>
    <tbody>
        {% if clientes %}
        {% for cliente in clientes %}
        <tr>
            <td >
                <div class="radio">
                    <input data-idcliente="{{ cliente.id }}" type="radio" class="flat" name="cName">
                </div>
            </td>
            <td>{{ cliente.persona.nombre }} {{ cliente.persona.apellido }}</td>
            <td>{{ cliente.persona.nombre }} {{ cliente.persona.apellido }}</td>
            <td>{{ cliente.persona.doc }}</td>
            <td>{{ cliente.persona.domicilio }}</td>
            <td>{{ cliente.persona.telefono }}</td>
            <td>{{ cliente.persona.email }}</td>
            <td>0</td>
        </tr>

        {% endfor %}
        {% else %}

        <h1>No hay clientes registrados</h1>
        <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

        {% endif %}  
    </tbody>
</table>
<div class="clearfix"></div>
