<table id="datatable-tecnicos" class="table table-striped tableselect table-bordered nowrap" cellSpacing=0 width=100%>
    <thead>
    <tr>
    <th data-width="1%"></th>
    <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
        {% if tecnicos %}
        {% for tecnico in tecnicos %}
        <tr>
            <td align="center">
                <input data-idtecnico="{{ tecnico.persona.id }}" type="radio" class="flat" name="tecnico">
            </td>
            <td>
                {{ tecnico.persona.nombre }} {{ tecnico.persona.apellido }}
            </td>
        </tr>
        {% endfor %}
        {% else %}

        <h1>No hay Técnicos registrados</h1>
        <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

        {% endif %}  
    </tbody>
</table>
<div class="clearfix"></div>