<table id="datatable-servicios" class="table table-striped tableselect table-hover table-bordered nowrap" cellSpacing=0 width=100%>
  <thead>
    <tr>
      <th data-width="1%"></th>
      <th data-width="29%">Nombre</th>
      <th data-width="70%">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    {% if servicios %} {% for servicio in servicios %}
    <tr>
      <td align="center">
        <input data-idtiposervicio="{{ servicio.id }}" type="radio" class="flat" name="tipo_servicio">
      </td>
      <td>{{ servicio.nombre }}</td>
      <td>{{ servicio.descripcion }}</td>
    </tr>
    {% endfor %} {% else %}

    <h1>No hay servicios registrados</h1>
    <!-- no importa si hay un <h1> en el body, DataTables lo saca de la tabla -->

    {% endif %}
  </tbody>
</table>