<table hidden id="datatable-clientes" 
data-popup_url="{% url 'cliente:cliente_crear_popup' %}" 
class="table table-striped table-hover table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
    <thead>
    <tr>
        <th data-width="1%" data-priority=1></th>
        <th data-priority=2>Nombre</th>
        <th data-priority=1>DNI/CUIT/CUIL</th>
        <th data-priority=3>Domicilio</th>
        <th data-priority=3>Teléfono</th>
        <th data-priority=2>e-mail</th>
    </tr>
    </thead>
    <tbody>
        {% if clientes %}
        {% for cliente in clientes %} <tr>
            <td align="center">
                <input data-idcliente="{{ cliente.persona.id }}" type="radio" class="flat" name="cliente">
            </td>
            <td>{{ cliente.persona.nombre }} {{ cliente.persona.apellido }}</td>
            <td>{{ cliente.persona.doc }}</td>
            <td>{{ cliente.persona.domicilio }}</td>
            <td>{{ cliente.persona.telefono }}</td>
            <td>{{ cliente.persona.email }}</td>
        </tr>

        {% endfor %}
        {% else %}

        {% endif %}  
    </tbody>
</table>