{% extends "sas/base.html" %}

{% block title %} Servicio Detail {% endblock title %}

{% block content %}
<div class="right_col">
    <div class="clearfix"></div>
        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>Orden de Trabajo<small>gestión de trabajo a realizar</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="am-cliente" data-parsley-validate class="form-horizontal form-label-left">
                
                <!-- Comienzo del formulario - csrf_token para aceptar data POST en django -->
                {% csrf_token %}

                <!-- Seleccion del cliente -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Cliente <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-cliente-modal-lg">
                          <div id="cliente_seleccionado">
                          <span class="glyphicon glyphicon-plus"></span>
                          </div>
                      </button>

                    <div class="modal fade bs-cliente-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="clienteModal">Cliente</h4>
                          </div>
                          <div class="modal-body">
                            {% include 'orden/listado_clientes.html' with clientes=view.clientes %}
                          </div>

                          <div class="modal-footer">
                            <button id="btnCliente" type="button" class="btn btn-primary">Continuar</button>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Seleccion del rubro -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Rubro <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-rubro-modal-lg">
                          <div id="rubro_seleccionado">
                          <span class="glyphicon glyphicon-plus"></span>
                          </div>
                      </button>
                    <div class="modal fade bs-rubro-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="rubroModal">Rubro</h4>
                          </div>
                          <div class="modal-body">
                            {% include 'orden/listado_rubros.html' with rubros=view.rubros %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Continuar</button>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Numero de Serie del equipo -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Equipo<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-equipo-modal-lg">
                        {% if equipo_seleccionado %}
                          {{ equipo_seleccionado }}
                        {% else %}
                          <span class="glyphicon glyphicon-plus"></span>
                        {% endif %}
                      </button>

                    <div class="modal fade bs-equipo-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="equipoModal">Equipo</h4>
                          </div>
                          <div class="modal-body">
                            {% include 'orden/listado_equipos.html' %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Continuar</button>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Seleccion del Tipo de Servicio -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Tipo de Servicio <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-tiposervicio-modal-lg"> 
                        {% if tipo_servicio_seleccionado %} 
                          {{ tipo_servicio_seleccionado }}
                        {% else %}
                          <span class="glyphicon glyphicon-plus"></span>
                        {% endif %}
                      </button>

                    <div class="modal fade bs-tiposervicio-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="rubroModal">Tipo de Servicio</h4>
                          </div>
                          <div class="modal-body">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Continuar</button>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Seleccion del Tipo de Servicio -->
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Técnico <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-tecnico-modal-lg"> 
                        {% if tecnico_seleccionado %} 
                          {{ tecnico_seleccionado.persona }}
                        {% else %}
                          <span class="glyphicon glyphicon-plus"></span>
                        {% endif %}
                      </button>

                    <div class="modal fade bs-tecnico-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="rubroModal">Técnico</h4>
                          </div>
                          <div class="modal-body">
                            {% include 'orden/listado_tecnicos.html' with tecnicos=view.tecnicos %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Continuar</button>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="ln_solid"></div>
                
                <!-- (^) separador - grupo de botones (v) -->
                
                <!-- end of accordion -->
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
  		            <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" formmethod="POST" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
  <script src="/static/persona/js/cliente.js"></script>

  <script>
      $(document).ready(function(){
        
          $("#btnCliente").on('click',function(){
            console.log($('input:checked[name=cName]')[0].dataset['idcliente'])
          })




      })
  </script>
{% endblock javascripts %}
