{% extends "principal.html" %} {% load staticfiles %} {% block estilos %}
<link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
<link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
<link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
<link href="{% static 'css/agregar_tarea.css' %}" rel="stylesheet" type="text/css"> {% endblock estilos %} {% block contenido %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>
        <i class="fa fa-bars"></i> Orden de Trabajo
        <small>Orden Nro: {{ orden.id }}</small>
      </h2>
      <!-- <ul class="nav navbar-right panel_toolbox">
        <li>
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Settings 1</a>
            </li>
            <li>
              <a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="close-link">
            <i class="fa fa-close"></i>
          </a>
        </li>
      </ul> -->
      <div class="clearfix"></div>
    </div>
    <div class="x_content col-md-12">
      <div id="orden-abierta">
        <div class="col-xs-9">
          <!-- Tab panes -->
          <div class="tab-content">

            <!-- Tab TAREAS PRESUPUESTADAS -->
            {% include "tareas/tareas_presupuestadas.html" %}

            <!-- Tab TAREAS PENDIENTES -->
            {% include "tareas/tareas_pendientes.html" %}

            <!-- Tab TAREAS FINALIZADAS -->
            {% include "tareas/tareas_finalizadas.html" %}

            <!-- Tab DATOS ORDEN -->
            {% include "tareas/datos_orden.html" %}
          </div>
        </div>

        <div class="col-xs-3">
          <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right">
            <li class="active">
              <a href="#datosOrden" data-toggle="tab">Datos Orden</a>
            </li>
            <li>
              <a href="#tareasPresupuestadas" data-toggle="tab">Tareas Presupuestadas.</a>
            </li>
            <li>
              <a href="#tareasPendientes" data-toggle="tab">Tareas Pendientes</a>
            </li>
            <li>
              <a href="#tareasFinalizadas" data-toggle="tab">Tareas Finalizadas</a>
            </li>
          </ul>
          <div style="padding-top:0.5em; float:right">
            <button class="btn btn-info" onclick="cerrar()">Cerrar Orden</button>
            <button class="btn btn-danger">Cancelar Orden</button>
          </div>
        </div>
      </div>
      <div id="orden-cerrada">
        {% include "orden/cerrada.html" %}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  {% endblock contenido %} {% block scripts %}

  <script type="text/javascript" src="{% static 'js/tarea/tarea.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tarea/crear_tarea.js' %}"></script>
  <script>
    $('#orden-abierta').show()
    $('#orden-cerrada').hide()
    function cerrar() {
      $('#orden-abierta').hide()
      $('#orden-cerrada').show()
    }
    csrf_token = '{{ csrf_token }}';

  </script> {% endblock scripts %}