{% extends "principal.html" %}
{% load staticfiles %}

{% block estilos %}
<!-- Smart Wizard CSS -->
<link href="{% static 'vendors/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet" type="text/css">

<!-- DataTables CSS -->
<link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'css/orden_nueva.css' %}" rel="stylesheet" type="text/css">
{% endblock estilos %}

{% block contenido %}
<div class="right_col">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x-panel">

            <form method="post">
                    {% csrf_token%}
                    <h3>¿Eliminar la Orden de Trabajo {{ ordentrabajo.nombre }}?</h3>
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                    <a class="btn btn-default" href="{% url 'orden:orden_listar' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}