/* .fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  @media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
      width: 970px;
    }
  }
 

@media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
        width: 80%;
    }
}  */

#modalTarea .modal-dialog  {
  width:80%;
  height: 100%;
}