
<div class="modal fade" id="modalReserva" ajax-url="{% url 'tarea:reserva_crear' %}" data-tarea-id="{{ tarea.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%; height:100%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Reservar Stock.</h4>
            </div>
            <div class="modal-body">
                <table id="datatable-reservas" class="table table-striped tableselect table-hover table-bordered" cellSpacing=0 width=100%>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Precio</th>
                            <th>Stock disponible</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if productos %} {% for producto in productos %}
                        <tr>
                            <td>
                                <input style="position:relative;" data-idproducto="{{ producto.id }}" data-stock_disp="{{ producto.stock_disponible }}" type="radio" class="flat" name="producto">
                            </td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.marca }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.stock_disponible }}</td>
                        </tr>
            
                        {% endfor %} {% else %}
            
                        <h1>No hay productos registrados</h1>
            
                        {% endif %}
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="item form-group">
                    <label for="cantidad">Cantidad</label>
                    <input name="cantidad" id="cantidad" type="number">
                </div>               
            </div>
            <div class="modal-footer">
                    <span class="text-danger" hidden id="error-elem"><strong><i class="fa fa-warning fa-lg"></i>&nbsp;&nbsp;<span id="errormsg">Error</span>&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
                <button class="btn btn-info" style="float:right" onclick="reservarStock()">Reservar</button>
            </div>
        </div>
    </div>
</div>
