{% extends "principal.html" %} {% load staticfiles %} {% block estilos %} {{ block.super}}
<link href="{% static '/css/datos_tarea.css' %}" rel="stylesheet"> {% endblock estilos %} {% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Tarea # {{ tarea.id }}
        <small>detalle de la tarea</small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="tab-pane" id="datosTarea">

        <div class="col-md-8 col-sm-8 col-xs-12">

          <ul class="stats-overview">
            <li>
              <span class="name"> Precio </span>
              <span class="value text-success"> {{tarea.precio}} </span>
            </li>
            <li>
              <span class="name"> Costo en repuestos </span>
              <span class="value text-success"> {{tarea.costo_repuestos}} </span>
            </li>
            <li class="hidden-phone">
              <span class="name"> Subtotal </span>
              <span class="value text-success"> {{ tarea.subtotal }} </span>
            </li>
          </ul>
          <br />

          <!-- <div id="mainb" style="height:350px;"> -->
          <div>
            <p class="lead">Repuestos reservados</p>
            <table id="tabla-reservas" class="table table-striped jambo_table">
              <thead>
                <tr class="headings">
                  <th class="column-title">Producto </th>
                  <th class="column-title">Cantidad </th>
                  <th class="column-title">Precio unitario </th>
                  <th class="column-title">Subtotal </th>
                  <th class="column-title">Eliminar </th>
                </tr>
              </thead>

              <tbody>
                {% if tarea.reservas_stock %} {% for reserva in tarea.reservas_stock %}
                <tr class="even pointer">
                  <td class=" ">{{ reserva.producto.nombre }}</td>
                  <td class=" ">{{ reserva.cantidad }}</td>
                  <td class=" ">{{ reserva.precio_unitario }}</td>
                  <td class=" ">{{ reserva.subtotal }}</td>
                  <td class="celda_control"><a class="fa fa-trash" id="cancelar_reserva" data-ajax_url="{% url 'producto:reserva_cancelar' %}" onclick="confirmarCancelacionReserva()"></a></td>
                </tr>


                <!-- Modal detalle reserva-->
                <div class="modal fade"  id="modal-detalle-reserva" data-ajax_url="{% url 'producto:reserva_modificar'%}" data-id_reserva="{{ reserva.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                          <h5 class="modal-title" id="exampleModalLabel">{{ reserva.producto.nombre }} reservados</h5>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                              <label for="cantidad">Cantidad: </label>
                              <input id="input-modificar-cantidad" name="cantidad" type="" value="{{reserva.cantidad}}">

                              <div style="display:inline-block"  class="">
                                <strong id="cantidad-error" hidden class="red">
                                  Debe ingresar una cantidad válida
                                </strong>
                              </div>            

                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="modificarReserva()">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!--fin modal detalle reserva-->

                <!-- Modal cancelar reserva-->
                <div class="modal fade"  id="modal-cancelar-reserva" data-ajax_url="{% url 'producto:reserva_cancelar'%}" data-id_reserva="{{ reserva.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h3><span class="text-warning"><i class="fa fa-exclamation-triangle fa-lg"></i>&nbsp;&nbsp;Confirmar eliminación</span></h3>
                      </div>
                      <div class="modal-body">
                          <h4>¿Está seguro que desea cancelar la reserva de {{ reserva.cantidad }} {{ reserva.producto.nombre }}?</h3>
                      </div>
                      <div class="modal-footer">
                          <span class="text-danger" hidden id="error-elem"><strong><i class="fa fa-warning fa-lg"></i>&nbsp;&nbsp;<span id="errormsg">Error</span>&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>                          
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" onclick="cancelarReserva()"><i class="fa fa-trash"></i> Eliminar reserva</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!--fin modal cancelar reserva-->
                {% endfor %} {% endif %}
              </tbody>
            </table>
          </div>
          <div>

            <p class="lead">Observaciones</p>

            {% if tarea.observaciones_tarea %}
            <ul class="list-unstyled timeline">
              {% for observacion in tarea.observaciones_tarea %}
              <li>
                <div class="block">
                  <div class="tags">

                  </div>
                  <div class="block_content">
                    <h2 class="title">
                      Observación hecha por: {{ observacion.usuario }}
                    </h2>
                    <div class="byline">
                      <span>{{ observacion.fecha }}</span>
                    </div>
                    <p class="excerpt">{{ observacion.contenido|safe }}
                    </p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No hay observaciones para la tarea</p>
            {% endif %}
            <!-- end of user messages -->
          </div>
        </div>

        <!-- start project-detail sidebar -->
        <div class="col-md-4 col-sm-4 col-xs-12">

          <section class="panel">

            <div class="x_title">
              <h2>Orden nro: {{ tarea.orden.id }}</h2>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <h3 class="green">
                <i class="fa fa-paint-brush"></i> {{ tarea.nombre}}</h3>

              <p>{{ tarea.descripcion }}</p>
              <br />

              <div class="project_detail">

                <p class="title">Cliente </p>
                <p> 
                  <b>{{ tarea.orden.cliente.persona.apellido|upper }}</b>, {{ tarea.orden.cliente.persona.nombre }}
                </p>
                <p class="title">Equipo</p>
                {% if terea.orden.equipo %}
                  <p>{{ tarea.orden.equipo }}</p>
                {% else %}
                  <p>No hay equipo vinculado</p>
                {% endif %}

              </div>


              <br />

              <div class="text-center mtop20">
                <button class="btn btn-info" data-toggle="modal" data-target="#modalReserva" style="font-weight:bold">+ | Reserva</button>
                {% include "tarea/reservar_stock.html" %}

                <button class="btn btn-warning" data-toggle="modal" data-target="#modalObservacion" style="font-weight:bold">+ | Observación</button>
                {% include "tarea/agregar_observacion.html" %}

                <!-- Se deshabilita el botón para cambiar el precio 
                  si la tarea no está en estado presupuestada -->
                {% if tarea.estado.TIPO == 1%}
                <button   class="btn btn-success" data-toggle="modal" data-target="#modalCambiarPrecio" style="font-weight:bold">$ | Modificar precio de la tarea</button>
                  {% include "tarea/cambiar_precio.html" %}
                {% endif %}

                <a href="{% url 'orden:orden_ver' tarea.orden.id %}">
                  <button class="btn btn-primary" style="font-weight:bold">Volver a la Orden</button>
                </a>

              </div>
            </div>
          </section>
        </div>
        <!-- end project-detail sidebar -->
      </div>

    </div>
  </div>
</div>
{% endblock contenido %} {% block scripts %}
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="/static/vendors/echarts/dist/echarts.min.js"></script>
<script src="{% static '/js/reservar_stock.js' %}"></script>
<script src="{% static '/js/agregar_observacion.js' %}"></script>
<script src="{% static '/js/cambiar_precio.js' %}"></script>
<script src="{% static '/js/modificar_reserva.js' %}"></script>
<script src="{% static '/js/cancelar_reserva.js' %}"></script>

<script>
// Registrar el onclick para la fila en las tablas .tableclick,
// excepto si no hay data, o en la .celda_control, que es la que expande las
// columnas ocultas por el responsiveness del DataTable, lo cual está bueno.
$(document).ready(function() {
    $("#tabla-reservas").each(function(e) {
        $(this).on(
            'click',
            'tbody tr td:not(".celda_control"):not(".dataTables_empty"):not(".celda_input")',
            function(e) {
                var modal = $("#modal-detalle-reserva")
                modal.modal("show")
            }
        );
    });
});
</script>

{% endblock scripts %}
