{% extends "principal.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Tarea # {{ tarea.id }}<small>detalle de la tarea</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-xs-9 ">
            <!-- Tab panes -->
            <div class="tab-content">

                <!-- Tab RESERVAR STOCK -->
                {% include "tarea/reservar_stock.html" %}

                <!-- Tab DETALLES DE LA TAREA -->
                {% include "tarea/datos_tarea_v2.html" %}

            </div>
        </div>

        <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-right">
                <li class="active"><a href="#reservaStock" data-toggle="tab">Reservar Stock.</a></li>
                <li><a href="#datosTarea" data-toggle="tab">Detalles.</a></li>
            </ul>
            <a class="btn btn-primary" style="margin-top:3em; float:right" href="{% url 'orden:orden_ver' tarea.orden.id %}"><span style="font-weight:bold">Volver a la Orden</span></a>
        </div>
        <br />
        <div class="clearfix"></div>
        <div>
        </div>    
    </div>
  </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="/static/vendors/echarts/dist/echarts.min.js"></script>
<script src="{% static '/js/reservar_stock.js' %}"></script>
{% endblock scripts %}