{% extends "principal.html" %}

{% block contenido %}
    <div class="clearfix"></div>
        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>Tipos de Tarea del rubro <b>{{ rubro.nombre }}</b> <small>gestión de tipo de tarea</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />



              <form method="post" class="form-horizontal form-label-left" novalidate>  
                {% csrf_token %}
                {% if form.errors %}
                <div class="clearfix">
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-xs-12">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                </div>
                {% endif %}
                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nombre.label }}">{{ form.nombre.label }}
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form.nombre }}
                  </div>
                </div>
                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.descripcion.label }}">{{ form.descripcion.label }} 
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form.descripcion }}
                  </div>
                </div>
                

                <div class="ln_solid"></div>
                <div class="item form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
  		            <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>


              <table id="datatable-tipo-tarea-detail" class="table table-striped table-bordered dt-responsive nowrap" cellSpacing=0 width=100%>
              
                <!-- Cabecera de la tabla -->
              
                <thead>
                  <tr>
                    <th>Tarea</th>
                    <th>Descripción</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
              
              
              
                <!-- Cuerpo de la tabla -->
                <tbody>
                  {% for tarea in tareas %}
                    <tr>
                      <td>{{ tarea.nombre }}</td>
                      <td>{{ tarea.descripcion }}</td>
                      <td>
                        <a href="{% url 'rubro:tipo_tarea_editar' pk_rubro=rubro.pk pk=tarea.pk %}">
                          <i class="fa fa-edit"></i>
                        </a>
                      </td>
                      {% if tarea.nombre == "RDyP" %}
                      <td>
                        <a href="{% url 'rubro:tipo_tarea_eliminar' pk_rubro=rubro.pk pk=tarea.pk %}">
                          <i class="fa fa-trash hidden"></i>
                        </a>
                      </td>
                      {% else %}
                      <td>
                        <a href="{% url 'rubro:tipo_tarea_eliminar' pk_rubro=rubro.pk pk=tarea.pk %}">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                      {% endif %}
                    </tr>       
                    {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
{% endblock contenido %}

{% block scripts %}
<!-- Datatables -->
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- validator -->
<script src="/static/vendors/validator/validator.js"></script>
<script>
		// initialize the validator function
    validator.message['empty'] = 'Este campo es requerido';
    validator.message['number'] = 'Debe ser un número';
    validator.message['email'] = 'Debe ser un email';
    validator.message['invalid'] = 'Contenido inválido';
    validator.message['number_min'] = 'No puede ser negativo';
</script>
<script src="/static/js/tipo_tarea_detail.js"></script>

{% endblock scripts %}